<?xml version="1.0"?>
<config>
  <modules>
    <Zipbit_Bitcoins>
      <version>1.0</version>
    </Zipbit_Bitcoins>
  </modules>
  <global>
    <models>
      <zipbit>
        <class>Zipbit_Bitcoins_Model</class>
      </zipbit>
    </models>
    <helpers>
      <zipbit>
        <class>Zipbit_Bitcoins_Helper</class>
      </zipbit>
    </helpers>
    <blocks>
      <zipbit>
        <class>Zipbit_Bitcoins_Block</class>
      </zipbit>
    </blocks>
  </global>
  <default>
    <payment>
      <zipbit>
        <model>zipbit/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>zipbit (bitcoin payment gateway)</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </zipbit>
    </payment>
  </default>
  <frontend>
    <routers>
      <zipbit>
        <use>standard</use>
        <args>
          <module>Zipbit_Bitcoins</module>
          <frontName>zipbit</frontName>
        </args>
      </zipbit>
    </routers>
  </frontend>
</config>
